<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Giorgos Giourmetakis - Web Developer</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div class="nav-container">
			<header class="header-desktop">
				<a href="#" class="logo">Giorgos Giourmetakis</a>

				<nav>
					<ul>
						<li><a href="#skills">My skills</a></li>
						<li><a href="#portfolio">My work</a></li>
						<li><a href="#about">About me</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>
			</header>

			<header class="header-mobile">
				<div>
					<a href="#" class="logo">Giorgos Giourmetakis</a>
				</div>
				<div>
					<button class="nav-toggle" aria-label="toggle navigation">
						<span class="hamburger"></span>
					</button>
				</div>

				<nav class="nav">
					<ul class="nav__list">
						<li class="nav__item">
							<a href="#skills" class="nav__link">My skills</a>
						</li>
						<li class="nav__item">
							<a href="#portfolio" class="nav__link">My work</a>
						</li>
						<li class="nav__item">
							<a href="#about" class="nav__link">About me</a>
						</li>
						<li class="nav__item">
							<a href="#contact" class="nav__link">Contact</a>
						</li>
					</ul>
				</nav>
			</header>

			<div class="social-header">
				<ul>
					<li>
						<a href="https://github.com/giou55" target="_blank"
							><img src="images/github.png" alt="github"
						/></a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/giorgosgiourmetakis" target="_blank"
							><img src="images/linkedin.png" alt="linkedin"
						/></a>
					</li>
					<li>
						<a href="https://www.facebook.com/giorgos.giourmetakis" target="_blank"
							><img src="images/facebook.png" alt="facebook"
						/></a>
					</li>
				</ul>
			</div>
		</div>

		<div class="hero">
			<div class="hero-content">
				<h1 class="stagger1">Beautifully Crafted Web Experiences</h1>
				<div class="content-desktop">
					<div class="meet stagger1">
						<span>👇</span>
						<p>Meet Giorgos Giourmetakis</p>
					</div>
					<svg
						class="scroll stagger1"
						width="40"
						height="77"
						viewBox="0 0 40 77"
					>
						<g id="scroll" transform="translate(-253 -787)">
							<g
								id="Rectangle_12"
								data-name="Rectangle 12"
								transform="translate(253 787)"
								fill="none"
								stroke="#fff"
								stroke-width="4"
							>
								<rect
									width="40"
									height="77"
									rx="20"
									stroke="none"
								/>
								<rect
									x="2"
									y="2"
									width="36"
									height="73"
									rx="18"
									fill="none"
								/>
							</g>
							<circle
								class="circle"
								id="Ellipse_1"
								data-name="Ellipse 1"
								cx="11"
								cy="11"
								r="11"
								transform="translate(262 798)"
								fill="#fff"
							/>
						</g>
					</svg>
				</div>

				<div class="content-mobile">
					<div>Full stack web developer from Athens, GR</div>
					<div class="content-mobile__see">
						<div><a href="#portfolio">See my work</a></div>
						<img src="images/icon-eye.png" alt="" />
					</div>
				</div>
			</div>

			<svg
				class="hero-design"
				width="686"
				height="688"
				viewBox="0 0 686 688"
			>
				<g id="blockdesign" transform="translate(-935 -289)">
					<rect
						class="square-anim"
						data-name="Rectangle 2"
						width="172"
						height="172"
						rx="19"
						transform="translate(1278 289)"
						fill="#012965"
					/>
					<rect
						class="square-anim"
						data-name="Rectangle 10"
						width="172"
						height="172"
						rx="86"
						transform="translate(1278 461)"
						fill="#999"
					/>
					<rect
						class="square-anim"
						data-name="Rectangle 8"
						width="172"
						height="172"
						rx="19"
						transform="translate(1449 461)"
						fill="#abcaf3"
					/>
					<rect
						class="square-anim"
						data-name="Rectangle 5"
						width="172"
						height="172"
						rx="19"
						transform="translate(1278 633)"
						fill="#012965"
					/>
					<rect
						class="square-anim"
						data-name="Rectangle 3"
						width="172"
						height="172"
						rx="19"
						transform="translate(1107 461)"
						fill="#fff"
					/>
					<rect
						class="square-anim"
						data-name="Rectangle 9"
						width="172"
						height="172"
						rx="86"
						transform="translate(1107 633)"
						fill="#d44e06"
					/>
					<rect
						class="square-anim"
						data-name="Rectangle 7"
						width="172"
						height="172"
						rx="19"
						transform="translate(935 633)"
						fill="#fff"
						opacity="0.17"
					/>
					<rect
						class="square-anim"
						data-name="Rectangle 4"
						width="172"
						height="172"
						rx="19"
						transform="translate(1107 805)"
						fill="#fff"
					/>
				</g>
			</svg>
		</div>


		<section class="skills" id="skills">
			<div class="skills-container">
				<div class="skill transition2">
                    <div class="skills-icon">
					    <img src="images/icon-uidesign.png" alt="UI UX Design Icon" />
				    </div>
					<div>
                        <div class="title skills-title">UI UX Design</div>
					</div>
				    <div>
                        <div class="description skills-desc">
					        Building complex, interactive user interfaces with high level UX for both <span class="bold-text">web</span> and <span class="bold-text">mobile</span>.
				        </div>
					</div>
				    
			    </div>
				<div class="skill transition2">
                    <div class="skills-icon">
					    <img src="images/icon-frontend.png" alt="UI UX Design Icon" />
				    </div>
					<div>
                        <div class="title skills-title">Frontend Development</div>
					</div>
				   <div>
                        <div class="description skills-desc">
							Architecting and building web applications and SPAs
							with <span class="bold-text">Angular, React, JavaScript, TypeScript</span>.
				        </div>
				   </div>
				    
			    </div>
				<div class="skill transition2">
                    <div class="skills-icon">
					    <img src="images/icon-backend.png" alt="UI UX Design Icon" />
				    </div>
					<div>
                        <div class="title skills-title">Backend Development</div>
					</div>
				    <div>
                        <div class="description skills-desc">
					        Building <span class="bold-text">Node.js</span> and <span class="bold-text">PHP</span> web
							applications and RESTful API servers using
							technologies like <span class="bold-text">Express, Strapi, Laravel, MySQL, mongoDB</span>.
				        </div>
					</div>
				    
			    </div>
			</div>
		</section>

		<section class="portfolio" id="portfolio">

			<div class="portfolio-container transition3">
				<div class="portfolio-text">
						<p class="subtitle">Real Estate App</p>
						<div>
                            <p class="title portfolio-title">RealHomesForYou.gr</p>
						</div>
						<p class="description portfolio-desc">
							RealHomesForYou.gr is a real estate website for finding properties in Europe. All properties are advertised 
							by estate agents. You can search over properties of all styles and prices. This is a full stack project with many features 
							like authentication, search properties and agents, admin dashboard, favorites homes.<br>
							The frontend is made with <span class="bold-text">Angular</span> framework and <span class="bold-text">Angular Material</span>. 
							The backend is supported by <span class="bold-text">Strapi</span> headless CMS, and deployed in <span class="bold-text">Heroku</span> platform.
						</p>
						<p class="portfolio-links">
							<button><a href="https://github.com/giou55/real-estate-website" target="_blank">Github Repo</a></button>
							<button><a href="https://realhomesforyou.gr" target="_blank">Live Site</a></button>
						</p>
				</div>

				<div class="portfolio-image">
                    <img src="images/realhomes.jpg" alt="Real Homes real estate" />
				</div>
			</div>

			<div class="portfolio-container transition3">
				<div class="portfolio-text">
						<p class="subtitle">Online Store</p>
						<div>
                            <p class="title portfolio-title">Bordershop.gr</p>
						</div>
						<p class="description portfolio-desc">
							Bordershop.gr is a online store for anyboby who likes music, gadgets, books and cinema.<br>
							The frontend is made with <span class="bold-text">React.js</span> and <span class="bold-text">Material-UI</span> library. 
							The backend is supported by <span class="bold-text">Commerce.js</span> platform.
						</p>
						<p class="portfolio-links">
							<button><a href="https://github.com/giou55/bordershop-react" target="_blank">Github Repo</a></button>
							<button><a href="https://bordershop.gr" target="_blank">Live Site</a></button>
						</p>
				</div>

				<div class="portfolio-image">
                    <img src="images/bordershop.jpg" alt="Bordershop online store" />
				</div>
			</div>

			<div class="portfolio-container transition3">
				<div class="portfolio-text">
						<p class="subtitle">Magazine website</p>
						<div>
                            <p class="title portfolio-title">WildLife</p>
						</div>
						<p class="description portfolio-desc">
							Wildlife is a magazine about nature, travelling and food. There is a administration area where every editor can create and upload his own post.<br>
							For this project I use <span class="bold-text">Laravel</span> PHP framework, and <span class="bold-text">MySQL</span> database.
						</p>
						<p class="portfolio-links">
							<button><a href="https://github.com/giou55/wildlife-magazine" target="_blank">Github Repo</a></button>
							<button><a href="https://www.giourmetakis.gr/laravel" target="_blank">Live Site</a></button>
						</p>
				</div>

				<div class="portfolio-image">
                    <img src="images/wildlife-blog.jpg" alt="Wild Life magazine" />
				</div>
			</div>

			<div class="portfolio-container transition3">
				<div class="portfolio-text">
						<p class="subtitle">Web App</p>
						<div>
                            <p class="title portfolio-title">Sounds Mixer</p>
						</div>
						<p class="description portfolio-desc">
							Sounds Mixer is a web app with beautiful natural sounds. 
							The user can adjust the volume for each sound and stop/play all sounds. 
							It is wrapped in a nice user interface.<br>
							It is made with <span class="bold-text">HTML, CSS</span> and <span class="bold-text">React</span> library.
						</p>
						<p class="portfolio-links">
							<button><a href="https://github.com/giou55/sounds-mixer-react" target="_blank">Github Repo</a></button>
							<button><a href="https://www.giourmetakis.gr/sounds-mixer" target="_blank">Live Site</a></button>
						</p>
				</div>

				<div class="portfolio-image">
                    <img src="images/sounds-mixer.jpg" alt="Sounds Mixer" />
				</div>
			</div>

			<div class="portfolio-container transition3">
				<div class="portfolio-text">
						<p class="subtitle">Business Website</p>
						<div>
                            <p class="title portfolio-title">FixPC Computer Services</p>
						</div>
						<p class="description portfolio-desc">
							FixPC is a electronic shop center for computers, TVs, mobile phones and others devices. 
							It provides computer sales, pc/mobile repairs and services, and more.<br>
							It is made with <span class="bold-text">HTML, CSS</span> and <span class="bold-text">JavaScript</span>. 
						</p>
						<p class="portfolio-links">
							<button><a href="https://github.com/giou55/fixpc-computer-services" target="_blank">Github Repo</a></button>
							<button><a href="https://www.giourmetakis.gr/fixpc" target="_blank">Live Site</a></button>
						</p>
				</div>

				<div class="portfolio-image">
                    <img src="images/fixpc.jpg" alt="Business Consulting" />
				</div>
			</div>

			<div class="portfolio-container transition3">
				<div class="portfolio-text">
						<p class="subtitle">Presentation App</p>
						<div>
                            <p class="title portfolio-title">Business Consulting</p>
						</div>
						<p class="description portfolio-desc">
							Business Consulting offers a organization chart for presentations.<br>
							It is made with <span class="bold-text">HTML, CSS, Bootstrap</span> and <span class="bold-text">JavaScript</span>. 
							The animation is using <span class="bold-text">SVG</span> vector graphics. 
						</p>
						<p class="portfolio-links">
							<button><a href="https://github.com/giou55/business-consulting" target="_blank">Github Repo</a></button>
							<button><a href="https://www.giourmetakis.gr/business-consulting" target="_blank">Live Site</a></button>
						</p>
				</div>

				<div class="portfolio-image">
                    <img src="images/consulting.jpg" alt="Business Consulting" />
				</div>
			</div>

			<div class="portfolio-container transition3">
				<div class="portfolio-text">
						<p class="subtitle">Web App</p>
						<div>
                            <p class="title portfolio-title">Coctails Finder</p>
						</div>
						<p class="description portfolio-desc">
							Coctails Finder is a single page application for finding your favorites coctails searching by keyword or coctail name.<br>
							It is made with <span class="bold-text">Angular</span> framework and it uses the <span class="bold-text">TheCocktailDB API</span>. 
						</p>
						<p class="portfolio-links">
							<button><a href="https://github.com/giou55/i-love-coctails" target="_blank">Github Repo</a></button>
							<button><a href="https://www.giourmetakis.gr/projects/coctails-finder/" target="_blank">Live Site</a></button>
						</p>
				</div>

				<div class="portfolio-image">
                    <img src="images/coctails-finder.jpg" alt="Coctails Finder" />
				</div>
			</div>

		</section>


		<section class="about" id="about">
			<div class="about-container transition3">
				<div class="about-text">
						<p class="title about-title">About Me</p>
						<p class="description about-desc">
							Hi! I am Giorgos Giourmetakis, a
							<span class="bold-text">full-stack web developer</span>
							based in <span class="bold-text">Athens, Greece</span>. For over 8 years I’ve been
							working on various projects involving both front-end
							and back-end development. I enjoy challenging tasks
							and look forward to interesting and innovative
							projects.
						</p>
						<p class="description about-desc">
							When not writing code, I really enjoy learning new
							stuff, cooking delicious food, listening my favorite
							music and walking in the city :).
						</p>
				</div>
				<div class="about-image">
					<img src="images/myphoto.png" alt="giorgos giourmetakis" />
				</div>
			</div>
		</section>


		<section class="contact" id="contact">
			<p class="title contact-title">Get In Touch</p>
			<p class="description contact-desc">
				Do you have an interesting project I can help with?<br> 
				Feel free to reach out to me by using the form below.
			</p>
            <p class="message"></p>
			<div class="form-container">
				<form action="">
                    <label for="name">Name</label>
					<input type="text" name="name" required />

					<label for="email">Email</label>
					<input type="email" name="email" required />

					<label for="message">Message</label>
					<textarea name="message" required style="height: 200px"></textarea>

					<button type="submit" class="btn">Send Message</button>
				</form>
					
			</div>
		</section>

		<section class="footer">
				<div class="footer-text">
					&copy;
					<script type="text/javascript">
						document.write(new Date().getFullYear());
					</script>
					giorgos giourmetakis | full-stack web developer | Athens,
					Greece
				</div>

				<div class="footer-icon-link">
					<a href="https://icons8.com" target="_blank"
						>Icons by Icons8</a
					>
				</div>
		</section>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
			integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
			crossorigin="anonymous"
		></script>

		<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>

		<script src="js/index.js"></script>
	</body>
</html>
